.navbar-nav .nav-link img {
  height: 25px; 
  width: auto; 
}

.carabiner img {
  height: 20px;
} 



/* body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00b7ff;
} */
/* 
.login {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 34px;
  margin-left: auto;
}

